*{
    margin: auto;
}

body{
    width: 100vw;
    height: 100vh;
    background-image: url(../img/fundo-do-quadro-negro-com-pizza_23-2148907816.jpg);
    background-size: 100%;  
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(11px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.1)

}

::-webkit-scrollbar {
    display: none; 
}

header{
    height: 150px;
    display:flex;
    justify-content: center;
    align-items: center;
    color: red;
    
}

#container {
    height: 800px;
    display: flex;

    

}

#texto1{
    font-size: 50px;
    text-align: center;
    font-family: arial;
    text-transform: uppercase;
      
}




button{
    background-color: transparent;
    width: 500px;
    height: 500px;
    border-color: red;
    border-radius: 5%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    cursor: pointer;
    transition: .35s;
    
    

}




#container:hover > :not(:hover){
    opacity: .4;
    transform: scale(0.9);
}
