*{
    margin: auto;
}

body{
    background-image: url(../img/fundo-do-quadro-negro-com-pizza_23-2148907816.jpg);
    
}

#fundo{
   
    width: 700px;
    height: 500px;
    margin-top: 2%;
    padding: 20px;
    border: 5px solid gold;
    border-radius: 15px;
    backdrop-filter: blur(10px);
}

#cadastroCliente{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin-bottom:8%;
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
}

#nomeTexto{
    color: white;
    display: flex;
    justify-content: center;
    margin-bottom:1%;
}

#nomeCliente{
    width: 65%;
    height: 20px;
    display: block;
    box-shadow: 0 0 8px #A52A2A;
    align-items: center;
    margin-bottom: 3%;
    background-color: #999;
    color: white;
}

#cpfTexto{
    color: white;
    display: flex;
    justify-content: center;
    margin-bottom:1%;
}

#cpfCliente{

    width: 65%;
    height: 20px;
    display: block;
    box-shadow: 0 0 8px #A52A2A;
    align-items: center;
    margin-bottom: 3%;
    background-color: #999;

}

#emailTexto{
    color: white;
    display: flex;
    justify-content: center;
    margin-bottom:1%;
}

#emailCliente{

    width: 65%;
    height: 20px;
    display: block;
    box-shadow: 0 0 5px #A52A2A;
    align-items: center;
    margin-bottom: 3%;
    background-color: #999;

}

#senhaTexto{
    color: white;
    display: flex;
    justify-content: center;
    margin-bottom:1%;
}

#senhaCliente{

    width: 65%;
    height: 20px;
    display: block;
    box-shadow: 0 0 5px #A52A2A;
    align-items: center;
    margin-bottom: 3%;
    background-color: #999;

}

#botaoLogin{
    display: block;
    align-items: center;
}

input::placeholder {
    color: white;
    opacity: 50%;
}