*{
    margin: auto;
}

body{
    background-color: black;

}

#barraInicial{
    height: 100px;
    width: 100%;
    background-color: #a52a2a;
}

p{
    padding: 30px;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    font-family: Arial;
}


