*{
    margin: auto;
}

body{
    background-image: url(../img/img\ 1.jpg);
    
}

#fundo{
   
    width: 700px;
    height: 500px;
    margin-top: 2%;
    padding: 20px;
    border: 5px solid gold;
    border-radius: 15px;
    backdrop-filter: blur(10px);
}

#loginCliente{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin-bottom:8%;
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
}

#emailTexto{
    color: white;
    display: flex;
    justify-content: center;
    margin-bottom:1%;
}

#emailCliente{

    width: 65%;
    height: 20px;
    display: block;
    box-shadow: 0 0 5px #A52A2A;
    align-items: center;
    margin-bottom: 3%;
    background-color: #999;

}

#senhaTexto{
    color: white;
    display: flex;
    justify-content: center;
    margin-bottom:1%;
}

#senhaCliente{

    width: 65%;
    height: 20px;
    display: block;
    box-shadow: 0 0 5px #A52A2A;
    align-items: center;
    margin-bottom: 3%;
    background-color: #999;

}

a{
    display: inline-block;
    padding: 3px 15px;
    margin-top: 10px;
    margin-left: 40%;
    box-shadow: 0 0 8px #A52A2A;
    background-color: #999;
    align-items: center;
    opacity: 70%;
}

.paraCadastro{
    display: inline-block;
    padding: 3px 15px;
    margin-top: 20%;
    margin-left: 30%;
    box-shadow: 0 0 8px #A52A2A;
    background-color: #999;
    align-items: center;
    opacity: 70%;
}

input::placeholder {
    color: white;
    opacity: 50%;
}

.cancel-btn {
    display: flex;
    float: left;
    background-color: #f4f4f9;
    color: #333578;
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid #333578;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.3s, color 0.3s;
}

.cancel-btn:hover {
    background-color: #333578;
    color: white;
}