body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

.relatorio-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    font-size: 2em;
    color: #333;
}

header p {
    color: #555;
}

.filtros {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.filtros label {
    font-weight: bold;
}

.filtros input, .filtros select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.filtros button {
    padding: 5px 10px;
    background-color: #333578;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.filtros button:hover {
    background-color: #2a2a70;
}

.tabela-vendas table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.tabela-vendas th, .tabela-vendas td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
}

.tabela-vendas th {
    background-color: #333578;
    color: white;
}

.tabela-vendas tr:nth-child(even) {
    background-color: #f9f9f9;
}

.tabela-vendas tr:hover {
    background-color: #f1f1f1;
}

.cancel-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f9;
    color: #333578;
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid #333578;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.3s, color 0.3s;
}

.cancel-btn:hover {
    background-color: #333578;
    color: white;
}